@media screen and (max-width: 800px) {
    #barra{
      overflow-x: hidden;
    }
    .nav-item{
      margin-left: 27px;
      width: 100%;
    }
    .container-sm{
      overflow-x: auto;
    }
    #alug{
      overflow-x: auto;
    }
    .container-xxl{
      overflow-x: auto;
    }
    #navbarScroll img{
      float: right;
    }
    #ini{
      margin-left: -125px;
    }
    #columnchart_values{
      margin-top: 20px;
      margin-left: 100px;
      max-width: 100%;
      overflow-x: auto;
    }
  }